body {
    margin: 2% 10%;
    font-family: sans-serif;
}

a {
    color: darkblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    text-align: center;
}

#send {
    visibility: hidden;
}

#toplevel {
    text-align: center;
}

textarea {
    color: lightgreen;
    background-color: black;
    width: 100%;
}

pre {
    color: darkred;
}
